---
import Layout from '../layouts/Layout.astro';

import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import BriedCaseIcon from '../components/icons/BriefCase.astro';
import CodeIcon from '../components/icons/Code.astro';
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Experience from '../components/Experience.astro';
import Projects from '../components/Proyect/Projects.astro';
import Aboutme from '../components/Aboutme.astro';
import Slider from '../components/Slider.astro';
import Presentacion from '../components/Presentation.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout  
	title="Porfolio de David - Desarrollador Web con 1 año de experiencia"
  	description="Relleno Relleno Relleno Relleno Relleno Relleno">
	
	<main class="px-4">
		<SectionContainer id="home" class="py-24 pb-32">
			<Presentacion></Presentacion>
			<Slider/>
		</SectionContainer>
		
		<div class="space-y-24">
		
		<SectionContainer id="proyectos">
			<TitleSection>
        	<BriedCaseIcon class="size-7" />
        	Proyectos
      		</TitleSection>
			<Projects/>
		</SectionContainer><!-- -->	
		
		
		
		<SectionContainer id="experiencia">
			<TitleSection>
				<BriedCaseIcon class="size-7"/>
				Experiencia laboral
			</TitleSection>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<TitleSection>
				<ProfileCheck class="size-8" />
				Sobre mí
			</TitleSection>
			<Aboutme/>
		</SectionContainer>
		</div>
	</main>
</Layout>